/* ---------- GERAL ---------- */

/* Fontes gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */

/* Fontes para h1 */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
    --cor-body: rgb(240, 240, 240);
    --cor-highlight-1: darkslategray;
    --cor-highlight-2: lightblue;
    --cor-highlight-3: rgb(0, 104, 104);
    --cor-font-1: rgb(2, 35, 35);
    --cor-font-2: white;
    --cor-header: rgb(2, 35, 35);
    --cor-header-2: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/p6.webp");
    background-repeat: repeat;
    font-family: "Poppins", 'Ubuntu', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    color: var(--cor-font-1);
    word-break: break-word;
}

header, main {
    max-width: 1200px;
    margin-inline: auto;
    padding: 2rem 5vw 5rem 5vw;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../img/smartphone.avif");
    background-size: cover;
    background-position: 40% top;
    margin-bottom: 3rem;
    max-width: 1600px;
}

h1 {
    font-family: 'Paytone One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--cor-header-2);
    text-align: center;
    margin: 6rem 0;
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 0 0 .5rem black;
    
    animation: descer 1.5s ease-out;
}

h2 {
    color: var(--cor-header);
    margin: 0 0 1rem 0;
    font-size: 2rem;
}

p {
    margin: .5rem 0 0;
}

li {
    list-style: none;
}

section {
    padding-bottom: 5rem;
}

figure {
    margin-block: 3rem;
    text-align: center;
}

figcaption {
    margin-top: 1rem;
}

a, a:visited {
    color: var(--cor-highlight-1);
    font-weight: bold;
}

a:active, a:hover {
    color: var(--cor-highlight-3);
}

/* ---------- FOOTER ---------- */

footer {
    text-align: center;
    color: var(--cor-font-2);
    background-color: var(--cor-highlight-1);
    padding-block: 0.25rem;
}

footer a, footer a:visited {
    color: var(--cor-font-2);
    background-color: transparent;
}

footer a:hover, footer a:active {
    color: var(--cor-highlight-2);
    background-color: transparent;
}


/* ---------- NAVEGAÇÃO ---------- */

nav {
    display: flex;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    height: 100%;
    width: 100%;
    max-width: 1200px;
}

nav li a, nav li a:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 .5rem;
    height: 100%;
    /* border-radius: 2rem; */
    border: 2px solid var(--cor-font-2);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--cor-font-2);
    text-decoration: none;
    font-weight: normal;
    transition: .3s;
}

nav li a:hover, nav li a:active {
    border: 2px solid var(--cor-font-1);
    background-color: var(--cor-highlight-2);
    color: var(--cor-font-1);
}

nav li:nth-child(1) {
    margin-right: auto;
}

.burger {
    display: none;
}

@media screen and (max-width: 968px) {
    .burger {
        display: inline-block;
        position: fixed;
        top: 1rem;
        left: 1rem;
        height: 50px;
        z-index: 10;
    }

    .burger img {
        height: 100%;
        background-color: var(--cor-body);
        border: 1px solid black;
        border-radius: 50%;
        padding: .5rem;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        transform: translateX(-100%);

        height: 100vh;
        width: fit-content;
        max-width: 80vw;
        padding: 5rem 3rem;
        
        background-color: var(--cor-highlight-1);
        flex-direction: column;
    }

    nav:is(:focus, :focus-within) ul {
        transform: translateX(0);
        transition: transform .3s ease-out;
    }

    nav li a {
        padding: .5rem 1rem;
        /* border-radius: 2rem; */
    }

    nav li:nth-child(1){
        margin-right: 0;
    }
}

/* ---------- MAIN ---------- */

#pagina-social section:not(:first-child),
#pagina-atualmente section:not(:first-child),
#pagina-principal section:not(:first-child) {
    animation: descer;
    animation-timeline: view();
    animation-range: 0% 30%;
}

#pagina-principal .sessao-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 3rem;
}

#pagina-principal .sessao-3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 3rem;
}

.sessao-2 .container-imagem, .sessao-3 .container-imagem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagina-principal .sessao-2 img,
#pagina-principal .sessao-3 img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    object-fit: cover;
}

/* #pagina-principal .sessao-4 {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sessao-4 .bloco {
    flex: 0 0 20rem;
    min-height: 20rem;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
} */

@media screen and (max-width: 800px) {

    #pagina-principal .sessao-2 {
        grid-auto-flow: column;
        grid-template-rows: 1fr auto;
        grid-template-columns: none;
    }

    #pagina-principal .sessao-3 {
        grid-auto-flow: column;
        grid-template-rows: auto 1fr;
        grid-template-columns: none;
    }

}

/* ---------- SOBRE NÓS ---------- */

em {
    color: var(--cor-highlight-1);
    font-weight: bold;
    font-style: normal;
}

.baby-shark {
    display: inline-block;
    color: var(--cor-highlight-1);
    font-size: 1rem;
    font-weight: bold;
    font-style: normal;
    font-family: inherit;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.baby-shark:hover, .baby-shark:active {
    color: transparent;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, purple, red, orange, yellow, green, blue, purple);
    background-clip: text;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    animation: babyshark 1s linear infinite;
}

#pagina-sobre .sessao-1 {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

#pagina-sobre .sessao-1 .card {
    width: min(100%, 35rem);
    padding-block: 2rem 3rem;
    padding-inline: min(2rem, 5vw);
    border: 1px solid lightgray;
    border-radius: 1rem;
    box-shadow: 0rem 1rem 1rem .5rem lightgray;
    background-color: var(--cor-body);
}

#pagina-sobre .sessao-1 .card:not(:first-child) {
    animation: descer;
    animation-timeline: view();
    animation-range: 0% 30%;
}

#pagina-sobre .sessao-1 .card:nth-child(odd) {
    margin-right: auto;
}

#pagina-sobre .sessao-1 .card:nth-child(even) {
    margin-left: auto;
}


/* ---------- ANIMAÇÕES ---------- */

@keyframes descer {
    0% {
        transform: translateY(-6rem);
        opacity: 0%;
    }
    100% {
        transform: translateY(0);
        opacity: 100%;
    }
}

@keyframes babyshark {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}